body{
    margin:0px;
    padding-top:60px;
    padding-left:85px;
}
/*header*/
.header {
    
    display:flex;
    flex-direction:row; 
    height:45px;
    border-color:grey; 
    border-bottom-style:solid;   
    padding-top: 0px;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 1;

}
.left-section{
    display:flex;
    align-items:center;
}
.middle-section{
    flex:1;
    margin-left:70;
    margin-right: 35px;
    max-width:500px;
    display: flex;
    align-items: center;
}
.middle-section>button>img{
    height:25px
}

.right-section{
    width:200px;
    display:flex;
    align-items: center;
}
.right-section>img{
    height:30px;
    margin-left: 15px;;
}
.my-channel{
    border-radius: 50%;
}
.search-bar{
    font:20px;
    margin: 12px;
    flex:1;
    height: 30px;
    padding-left:10px;
    padding-right: 0px;
    margin-right:0px;
    font-family: Roboto,Ariel;
    font-size:16px;
    box-shadow:inset 1px 1px 2px rgba(0,0,0,.05)
}
.search-button{
    height:36px;
    width:65px;
    margin-right:10px;
    padding-top:4px;
    margin-left:-2px;
}
.voice-button{
    border-radius: 50%;
    border-width: 0px;
}
.search-bar::placeholder{
    font-family: Roboto,Ariel;
    font-size:16px;
}
.hamburger{
    height: 24px;
    margin-left:20px;
    margin-right:20px;
}
.youtube-logo{
    height: 20px;

}

/*sidebar*/
.sidebar{
    background-color: white;
    position:fixed;
    top:45px;
    bottom:0px;
    left:0px;
    width:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-button{
    width:70px;
    border: 0px;
    border-radius: 0px;
    border-width: 0px;

}
.sidebar-button:hover{
    background-color: grey;
}
.sidebar-image{
    width:40px;

}
.sidebar-text{
    font-family: Roboto;
    font-size:8px;
}


/*video tiles*/
.thumbnail {
    max-width:300px
}
.user-profile-icon{
    border-radius: 50%;
    width:100%
}
.video-duration{
    font-family: Roboto,Ariel;
    font-weight: 500;
    background-color: black;
    border-radius: 3px;
    color: white;
    display:inline-block;
    position:relative;
    margin:0px;
    padding:0px;
    top: -35px;
    left: 250px;
}
.video-info-wrapper>p{
    font-family:Roboto,Ariel
}
.video-duration-wrapper{
    padding:0px;
    margin:0px;
    width:0px;
    height:0px;
    position:relative;
}

.user-profile-icon-wrapper{
    display: inline-block;
    width:50px;
    vertical-align:top;
    margin-top:5px
}
.video-info-wrapper{
    display: inline-block;
    width:245px;
}
.video-container{
    max-width: 300px;
    display:inline-block;
    vertical-align:top;
    margin-right:15px;
    padding-top: 0px;
    margin-top: 0px;
}

.video-title{
    display:inline-block;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.video-username{
    display:inline-block;
    margin-bottom: 0px;
    font-size:12px;
    color:grey;
}
.video-stats{
    margin-top:0px;
    font-size:12px;
    color:grey;
}
